body {
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    /*height: 100vh;*/
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
}

#date2 {
    margin-left: 20px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

input[type*="text"] {
    text-align: center;
}

input:not([id*="annee"]) {
    max-width: 40px;
}

input[id*="annee"] {
    max-width: 50px;
}

#listeResultats {
    margin-top: 10px;
}

#listeResultats li {
    list-style: none;
}

#btnAction {
    margin-bottom: 10px;
}